
<!-- Property List Start -->
  <div class="container-xxl py-5">
    <div class="container">
      <div class="tab-content">
        <div id="tab-1" class="tab-pane fade show p-0 active">
          <div class="row g-4">
            <div
              class="col-lg-4 col-md-6 wow fadeInUp"
              data-wow-delay="0.1s"
              *ngFor="let Reserve of reserves"
            >
              <div class="property-item rounded overflow-hidden">
                <div class="position-relative overflow-hidden">
                  <a href=""
                    ><img class="img-fluid" src="{{ announcement.img }}" alt=""
                  /></a>
                  
                  <div
                    class="bg-primary rounded-top text-black h5 start-0 bottom-0 m-10 py-10 px-3"
                  >
                  Date : {{ Reserve.date }}
                  </div>
                </div>
                <div class="p-4 pb-0">
                  <a class="text-black h5 mb-4">Heure : {{ Reserve.time }}</a>
                  <a class="d-block h5 mb-3">Purpose : {{ Reserve.purpose }}</a>
                  <p>
                    <a class="text-black h5 mb-2">
                    Raison : {{ Reserve.visitType }}</a>
                  </p>
                  <p>
                    <a class="text-black h5 mb-1">
                   Message : {{ Reserve.message }}</a>
                  </p>
                  <p>
                     <button
                      class="btn"
                      style="background-color: darkolivegreen; color: white"
                      (click)="reserveDetails(Reserve.idV)"
                    >
                      View Details
                    </button>
                    <button
                      class="btn"
                      style="margin-left: 10px; background-color: aqua"
                      (click)="updateReserve(Reserve.idV)"
                    >
                      Update
                    </button>
  
                    <button
                      class="btn"
                      style="
                        margin-left: 10px;
                        background-color: red;
                        color: white;
                      "
                      (click)="deleteReserve(Reserve.idV)"
                    >
                      Delete
                    </button>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Property List End -->
  